/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  /* padding: 3rem; */
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: lightblue;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 2rem; */
  background: deeppink;
  color: #fafaff;
}

main {
  margin: 0 auto;
  background: #eaeaea;
  padding: 1rem;
  max-width: 100vw;
}
/* form */
#survey-form {
  padding: 1rem 2rem;
  background: #fafafa;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

label {
  font-weight: 600;
}

input {
  margin-bottom: 1rem;
}
#comment {
  max-width: 80%;
  margin-bottom: 1rem;
}

#submit {
  display: inline-block;
  width: 50%;
  background: chartreuse;
  padding: 1rem;
  border-radius: 6px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;

}
#submit:hover {
  filter: brightness(1.5);
}
